@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (DayOfWeek item in ViewBag.days)
{
    if (item == DateTime.Now.DayOfWeek)
    {
        <p class="text-danger">@item</p>
    }
    <h3>@item</h3>
}